<!DOCTYPE html>
<html>
  <head>
    <title>Geocoding Service</title>

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css' rel='stylesheet' />
   
  </head>
  <body>
    <div >
      <input id="address" type="textbox" value="Delhi" />
      <input id="submit" type="button" value="Geocode" onclick="getCoordinates()" />
    </div>
    <div id='map' style='width: 400px; height: 300px;'></div>
    <script src="../js/map_location.js"></script>
<script>


</script>
  </body>
</html>